$primary_arrow_blue: #8086ed;
$primary_arrow_navy: #0d0a36;
$primary_arrow_light: #ffffff;
$primary_blue_muted: #989ce8;
$primary_navy_muted: #444263;

$greys_grey_light: #dadade;
$greys_blue_light_muted: #cccde0;
$greys_navy_light_muted: #bbbbc4;
$greys_navy_mid_muted: #a7a7ba;
$greys_blue_extra_light_muted: #ecedfe;
$greys_almost_white_muted: #f9f9fd;

$secondary_purple_dark: #432198;
$secondary_purple_mid: #6954bf;
$secondary_purple_light: #9173c0;

$secondary_peach_dark: #da577c;
$secondary_peach_mid: #dc7b9a;
$secondary_peach_light: #fd9b98;
$secondary_peach_extra_light: #ffb2a2;

$secondary_aubergine_dark: #792762;
$secondary_aubergine_mid: #ab6397;

$secondary_ochre_dark: #b76655;
$secondary_ochre_mid: #e08d48;
$secondary_ochre_light: #d9b16d;

$arrow_success_dark_bg: #03a758;
$arrow_success_light_bg: #28ff97;
$arrow_error_dark_bg: #f31b66;
$arrow_error_light_bg: #ca0a4f;
$arrow_warning_dark_bg: #e08d48;
$arrow_warning_light_bg: #ab511b;

$arrow_hover: #5e64ca;
$arrow_active: #8552d6;

$btn_light_bg_hover: #482d8d;

.arrow-light-blue-bg {
    background: $greys_blue_extra_light_muted;
}

.white-bg-header {
    background-color: $primary_arrow_light;
}
